body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #ffffff;
    color: #000;
    transition: 0.4s;
}

.container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Dark Mode */
body.dark {
    background-color: #121212;
    color: #ffffff;
}

/* Switch */
.switch {
    position: relative;
    width: 80px;
    height: 40px;
}

.switch input {
    display: none;
}

.slider {
    position: absolute;
    background-color: #ccc;
    border-radius: 40px;
    width: 100%;
    height: 100%;
    cursor: pointer;
    transition: 0.4s;
}

.slider::before {
    content: "";
    position: absolute;
    width: 34px;
    height: 34px;
    background-color: white;
    border-radius: 50%;
    top: 3px;
    left: 3px;
    transition: 0.4s;
}

/* Icons */
.icon {
    position: absolute;
    top: 8px;
    font-size: 18px;
}

.sun {
    left: 10px;
}

.moon {
    right: 10px;
}

/* Checked */
input:checked + .slider {
    background-color: #4CAF50;
}

input:checked + .slider::before {
    transform: translateX(40px);
}
