body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #101;
    color: white;
    font-family: Arial, sans-serif;
}

.container h1 {
    font-size: 40px;
}

#text {
    color: #00ffcc;
    border-right: 3px solid #00ffcc;
    padding-right: 5px;
}
