body {
    font-family: Arial, sans-serif;
    margin: 0;

    /* Background Image */
    background-image: url("/Users/shilpa/Downloads/backgroun.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;

    min-height: 100vh;
}

.container {
    width: 380px;
    margin: 100px auto;
    background: rgba(255, 255, 255, 0.85);
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 8px 20px rgba(0,0,0,0.2);
}

h2 {
    text-align: center;
}

.input-box {
    display: flex;
    gap: 10px;
}

input {
    flex: 1;
    padding: 8px;
}

button {
    padding: 8px 12px;
    cursor: pointer;
    border: none;
    background: #4CAF50;
    color: white;
    border-radius: 5px;
}

button:hover {
    background: #45a049;
}

ul {
    list-style: none;
    padding: 0;
    margin-top: 20px;
}

li {
    background: #f1f1f1;
    margin-bottom: 10px;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 5px;
}

li span {
    flex: 1;
}

.btn-group {
    display: flex;
    gap: 8px;
}

.btn-group button {
    background: #ddd;
    color: black;
    padding: 6px 8px;
    border-radius: 4px;
}

.btn-group button:hover {
    background: #ccc;
}
